/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_hud_hero_shop.vcss_c");
.AspectRatio4x3 #Shop
{
	width: 100%;
	margin-right: 0px;
}

.AspectRatio4x3 #MainPanel
{
	transform: scale3d(0.9, 0.9, 0.9) translate3d(60px, -50px, 0px);
}

.AspectRatio4x3 #HeroScenePanel
{
	margin-bottom: 200px;
	margin-right: 170px;
}

#RecentPurchaseHeroImage
{
	height: 20px;
	width: 20px;
}

.recentPurchase .mod_icon
{
	height: 20px;
	width: 20px;
	background-size: 100% 100%;
	margin: 0px 5px;
}

.recentModPurchaseName
{
	font-weight: semi-bold;
	margin-right: 5px;
	opacity: 0.7;
}

Label.recentModTierCost
{
	font-size: 12px;
	opacity: 0.3;
	font-weight: semi-bold;
	vertical-align: bottom;
	margin-bottom: 2px;
}

Label.recentTimePurchased
{
	opacity: 0.3;
	font-weight: semi-bold;
	margin-right: 4px;
	font-size: 14px;
	vertical-align: middle;
	width: 30px;
	height: 100%;
	text-overflow: shrink;
	margin-left: 5px;
}

.filterHidden,.filterButtonHidden
{
	visibility: collapse;
}

#PurchaseFiltersContainer
{
	flow-children: down;
}

.PurchaseFilterGroup
{
	flow-children: right;
}

.PurchaseFilterToggle
{
	margin: 1px 2px;
}

.gShopOpen #RecentPurchasesPanel
{
	visibility: visible;
}

.recent_purchases_disabled #RecentPurchasesPanel
{
	visibility: collapse;
}

