/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_db_page_profile.vcss_c");
.AspectRatio4x3 .MainContents
{
	margin-left: 0px;
}

.AspectRatio4x3 .BlockStat
{
	ui-scale: 95%;
}

.AspectRatio4x3 #StatsRight
{
	padding-top: 160px;
}

.AspectRatio4x3 #MatchHistoryList,.AspectRatio4x3 #MatchHistoryArea #ShowcaseList
{
	ui-scale: 85%;
}

.AspectRatio4x3 #TabsContainer
{
	margin-top: 5px;
}

.AspectRatio4x3 #MatchHistoryButton,.AspectRatio4x3 #ViewLeaderboardContainer
{
	margin-right: 7px;
}

.AspectRatio4x3 #HeroScenePanel
{
	margin-left: -70px;
}

