/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/citadel_hud_hero_shop.vcss_c");
.AspectRatio4x3 #Shop
{
	width: 100%;
	margin-right: 0px;
}

.AspectRatio4x3 #MainPanel
{
	transform: scale3d(0.9, 0.9, 0.9) translate3d(60px, -50px, 0px);
}

.AspectRatio4x3 #HeroScenePanel
{
	margin-bottom: 200px;
	margin-right: 170px;
}

