/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@define normalDamageInitColor: courageLightColor;
@define normalDamageColor: courageColor;
@define abilityDamageInitColor: #E7C8FF;
@define abilityDamageColor: #CE90FF;
@define meleeDamageInitColor: #FFD18D;
@define meleeDamageColor: #EC9719;
@define pureDamageInitColor: #DDDDDD;
@define pureDamageColor: #FFFFFF;
@define poisonDamageInitColor: #227031;
@define poisonDamageColor: #49B960;
@define critDamageInitColor: offWhite;
@define critDamageColor: #ffeb54;
@define luckyShotDamageInitColor: offWhite;
@define luckyShotDamageColor: #ff9654;
@define buffedGunDamageInitColor: rgb(255, 255, 220);
@define buffedGunDamageColor: orange;
@define buffedAbilityDamageInitColor: rgb(234, 208, 255);
@define buffedAbilityDamageColor: rgb(172, 255, 253);
@define buffedMeleeDamageInitColor: rgb(255, 255, 220);
@define buffedMeleeDamageColor: orange;
@define buffedPureDamageInitColor: rgb(255, 255, 220);
@define buffedPureDamageColor: white;
@define critPureDamageInitColor: rgb(255, 255, 220);
@define critPureDamageColor: white;
@define luckyShotPureDamageInitColor: rgb(255, 255, 220);
@define luckyShotPureDamageColor: white;
@define statusEffectInitColor: rgb(79, 50, 50);
@define statusEffectColor: rgb(255, 255, 255);
@define numberOffsetX: 40;
@define cumulativeDamageInitColor: rgb(255, 255, 220);
@define cumulativeDamageColor: rgb(255, 255, 255);
@define normalHealingInitColor: fortitudeLightColor;
@define normalHealingColor: fortitudeColor;
@define cumulativeHealingInitColor: fortitudeLightColor;
@define cumulativeHealingColor: fortitudeBrightColor;
@keyframes 'desc_text'
{
	2%
	{
		opacity: 0;
	}
	
	3%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

@keyframes 'damage_pop_low'
{
	0%
	{
		pre-transform-scale2d: 0.7;
	}
	
	100%
	{
		pre-transform-scale2d: 0.7;
	}
	
}

@keyframes 'damage_pop_batched'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	3%
	{
		pre-transform-scale2d: 1.2;
	}
	
	10%
	{
		pre-transform-scale2d: 1;
	}
	
	60%
	{
		pre-transform-scale2d: 0.3;
	}
	
	100%
	{
		pre-transform-scale2d: 0.3;
	}
	
}

@keyframes 'healing'
{
	0%
	{
		pre-transform-scale2d: 1;
		transform: translateY(-40px) translateX(60px);
	}
	
	1%
	{
		pre-transform-scale2d: 1.3;
	}
	
	3%
	{
		pre-transform-scale2d: 1;
	}
	
	15%
	{
		opacity: 0;
		transform: translateY(-120px) translateX(60px);
	}
	
	100%
	{
		transform: translateY(-120px) translateX(60px);
		opacity: 0;
	}
	
}

@keyframes 'gold_pop'
{
	0%
	{
		opacity: 0.2;
		pre-transform-scale2d: 0.6;
	}
	
	3%
	{
		opacity: 0.8;
		pre-transform-scale2d: 1.2;
	}
	
	5%
	{
		opacity: 0.8;
		pre-transform-scale2d: 0.8;
	}
	
	30%
	{
		opacity: 0;
		pre-transform-scale2d: 0.8;
	}
	
	100%
	{
		opacity: 0;
		pre-transform-scale2d: 0.3;
	}
	
}

@keyframes 'damage_color'
{
	0%
	{
		color: normalDamageInitColor;
	}
	
	100%
	{
		color: normalDamageColor;
	}
	
}

@keyframes 'healing_color'
{
	0%
	{
		color: normalHealingInitColor;
	}
	
	100%
	{
		color: normalHealingColor;
	}
	
}

@keyframes 'pure_damage_color'
{
	0%
	{
		color: pureDamageInitColor;
	}
	
	100%
	{
		color: pureDamageColor;
	}
	
}

@keyframes 'crit_color'
{
	0%
	{
		color: critDamageInitColor;
	}
	
	100%
	{
		color: critDamageColor;
	}
	
}

@keyframes 'ability_color'
{
	0%
	{
		color: abilityDamageInitColor;
	}
	
	100%
	{
		color: abilityDamageColor;
	}
	
}

@keyframes 'crit_pop'
{
	0%
	{
		pre-transform-scale2d: 1.4;
	}
	
	100%
	{
		pre-transform-scale2d: 1.4;
	}
	
}

@keyframes 'luckyshot_pop'
{
	0%
	{
		pre-transform-scale2d: 1.45;
		color: luckyShotDamageInitColor;
	}
	
	100%
	{
		pre-transform-scale2d: 1.0;
		color: luckyShotDamageColor;
	}
	
}

.WindowRoot
{
	height: 300px;
	width: 100px;
	font-size: 30px;
	opacity: 1;
	margin-left: 50px;
	margin-top: -100px;
}

.HudIndicatorText
{
	padding: 20px 0px 10px 40px;
	padding: 10px;
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-family: sansMono;
	font-family: oracle;
	font-size: 14px;
	text-shadow: 0px 0px 3.0 black;
	text-overflow: shrink;
}

.cumulative.is_yourself .HudIndicatorText
{
	padding-top: 50px;
	wash-color: #ff6161;
	ui-scale: 130%;
}

.cumulative.is_yourself.healing .HudIndicatorText
{
	wash-color: none;
}

.HudIndicatorContainer
{
	horizontal-align: center;
	vertical-align: center;
	text-align: right;
	z-index: -1;
}

.HudIndicatorIcon
{
	visibility: collapse;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	horizontal-align: center;
	vertical-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/headshot_psd.vtex");
}

.HudIndicatorContainer
{
	animation-duration: 3s;
}

#GoldPlusPrefix
{
	visibility: collapse;
}

.position_on_hero
{
	horizontal-align: center;
	vertical-align: bottom;
	x: -50px;
	y: -200px;
}

.is_yourself
{
	horizontal-align: center;
	vertical-align: bottom;
	x: -150px;
	y: -300px;
	x: -250px;
	y: -300px;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	opacity: 0;
}

.is_yourself.healing
{
	wash-color: none;
	x: -350px;
	y: -290px;
}

@keyframes 'is_yourself_dmg'
{
	0%
	{
		transform: rotateZ(0deg);
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		transform: rotateZ(20deg);
		pre-transform-scale2d: 2;
	}
	
	100%
	{
		transform: rotateZ(0deg);
		pre-transform-scale2d: 1;
	}
	
}

.gold .HudIndicatorContainer
{
	horizontal-align: center;
	vertical-align: center;
	height: fit-children;
	width: fit-children;
	flow-children: left;
	z-index: 10;
	animation-name: gold_pop;
	animation-duration: 3s;
}

.gold .HudIndicatorIcon,.gold_small .HudIndicatorIcon
{
	visibility: visible;
	wash-color: #70F8C1;
	height: 36px;
	margin-left: 0px;
	background-image: url("s2r://panorama/images/hud/icons/icon_soul.vsvg");
	img-shadow: 0px 0px 3px #000000;
}

.isUnsecured.gold .HudIndicatorIcon,.isUnsecured.gold_small .HudIndicatorIcon
{
	wash-color: rgb(255, 109, 109);
}

.gold_small .HudIndicatorContainer
{
	horizontal-align: center;
	vertical-align: center;
	height: fit-children;
	width: fit-children;
	flow-children: left;
	z-index: 10;
	animation-name: gold_pop;
	animation-duration: 3s;
}

.deny .HudIndicatorContainer
{
	horizontal-align: center;
	vertical-align: center;
	height: fit-children;
	width: fit-children;
	flow-children: right;
	z-index: 10;
	animation-name: gold_pop;
	animation-duration: 3s;
}

#Desc
{
	visibility: collapse;
}

.hasDesc #Desc
{
	font-size: 15px;
	font-weight: semi-bold;
	color: rgb(179, 179, 179);
	white-space: nowrap;
	animation-name: desc_text;
	animation-duration: 0.5s;
	opacity: 0;
	visibility: visible;
}

.cumulative_final.hasEffectiveness #Effectiveness
{
	font-size: 14px;
	font-weight: semi-bold;
	color: rgb(179, 179, 179);
	white-space: nowrap;
	opacity: 1;
	visibility: visible;
	animation-name: pop, fade;
	animation-duration: 0.1s, 0.5s;
	animation-fill-mode: forwards;
	visibility: collapse;
}

.distance_near .HudIndicatorContainer,.distance_normal .HudIndicatorContainer
{
	opacity: 0.8;
}

.distance_far .HudIndicatorContainer
{
	opacity: 0.65;
}

.distance_very_far .HudIndicatorContainer
{
	opacity: 0.5;
}

.distance_extremely_far .HudIndicatorContainer
{
	opacity: 0.4;
}

.gold #GoldPlusPrefix,.gold_small #GoldPlusPrefix
{
	visibility: visible;
}

.gold #Value,.gold_small #Value
{
	padding-left: 0px;
}

.gold .HudIndicatorText
{
	font-weight: bolder;
	font-size: 40px;
	color: #70F8C1;
}

.gold_small .HudIndicatorText
{
	font-weight: bold;
	font-size: 40px;
	color: #70F8C1;
}

.isUnsecured .HudIndicatorText
{
	color: rgb(255, 150, 150);
}

.xp .HudIndicatorText
{
	font-size: 40px;
	color: white;
}

.mana_burn .HudIndicatorText
{
	color: mediumblue;
	animation-name: crit_pop;
	animation-duration: 0.6s;
}

.deny .HudIndicatorText
{
	color: rgb(255, 117, 85);
	font-weight: bold;
	font-style: italic;
	animation-name: crit_pop;
	animation-duration: 0.6s;
}

.heal
{
	font-size: 50px;
	color: greenyellow;
	animation-name: healing;
	animation-duration: 3s;
}

.modifier .HudIndicatorText
{
	color: white;
	font-size: 30px;
}

.batched .HudIndicatorText
{
	font-weight: bold;
	font-size: 80px !important;
	color: #FF0000 !important;
	text-shadow: 0px 0px 20px #FFFF00 !important;
}

.heal.use_css_position
{
	horizontal-align: center;
	margin-right: 25%;
	y: 72.5%;
}

.damage.dpspercent_low
{
	font-size: 40px;
}

.damage.dpspercent_mid
{
	font-size: 50px;
}

.damage.dpspercent_high
{
	font-size: 60px;
}

.distance_far .HudIndicatorIcon,.distance_very_far .HudIndicatorIcon,.distance_extremely_far .HudIndicatorIcon,.distance_far.crit .HudIndicatorIcon,.distance_very_far.crit .HudIndicatorIcon,.distance_extremely_far.crit .HudIndicatorIcon
{
	width: 20px;
	height: 20px;
	margin-left: 5px;
}

.distance_far.luckyshot .HudIndicatorIcon,.distance_very_far.luckyshot .HudIndicatorIcon,.distance_extremely_far.luckyshot .HudIndicatorIcon
{
	width: 20px;
	height: 20px;
	margin-left: 5px;
}

.juggle
{
	width: fit-children;
	height: fit-children;
}

.juggle.juggle_increment
{
	width: 300px;
	height: 200px;
	animation-name: anim_juggle_increment;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-duration: 1s;
}

.juggle.juggle_increment .HudIndicatorContainer
{
	horizontal-align: center;
	vertical-align: middle;
	width: 300px;
	height: 200px;
}

.juggle.juggle_increment .HudIndicatorContainer .HudIndicatorIcon
{
	visibility: collapse;
}

.juggle.juggle_increment .HudIndicatorContainer Label.HudIndicatorText
{
	horizontal-align: center;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 60px;
	color: offWhite;
	text-shadow: 0px 0px 10.0 vivaciousGreen;
}

.juggle.juggle_increment .HudIndicatorContainer Label.HudIndicatorText .InlineAttributeIcon
{
	width: 50px;
	height: 50px;
}

.juggle.juggle_floor
{
	width: 300px;
	height: 200px;
	animation-name: anim_juggle_floor;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-duration: 6s;
}

.juggle.juggle_floor .HudIndicatorContainer
{
	width: 300px;
	height: 200px;
}

.juggle.juggle_floor .HudIndicatorContainer .HudIndicatorIcon
{
	visibility: collapse;
}

.juggle.juggle_floor .HudIndicatorContainer Label.HudIndicatorText
{
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 60px;
	color: #B85D28;
	text-shadow: 0px 0px 10.0 #2B0E0F;
}

.juggle.juggle_floor .HudIndicatorContainer Label.HudIndicatorText .InlineAttributeIcon
{
	width: 50px;
	height: 50px;
}

@keyframes 'anim_juggle_increment'
{
	0%
	{
		opacity: 0;
		transform: translateY(30px);
	}
	
	2%
	{
		opacity: 0;
		transform: translateY(30px);
	}
	
	3%
	{
		opacity: 0.5;
		transform: translateY(30px);
	}
	
	30%
	{
		opacity: 1;
		transform: translateY(60px) ;
	}
	
	100%
	{
		opacity: 0;
		transform: translateY(240px);
	}
	
}

@keyframes 'anim_juggle_floor'
{
	0%
	{
		opacity: 0;
	}
	
	2%
	{
		opacity: 0;
		transform: translateY(0px);
	}
	
	3%
	{
		opacity: 0.5;
		transform: translateY(0px);
	}
	
	10%
	{
		opacity: 1;
		transform: translateY(-120px);
	}
	
	95%
	{
		opacity: 1;
		transform: translateY(-120px);
	}
	
	100%
	{
		transform: translateY(-240px);
		opacity: 0;
	}
	
}

@keyframes 'cumulative_damage_color'
{
	0%
	{
		color: cumulativeDamageInitColor;
	}
	
	100%
	{
		color: cumulativeDamageColor;
	}
	
}

@keyframes 'cumulative_healing_color'
{
	0%
	{
		color: cumulativeHealingInitColor;
	}
	
	100%
	{
		color: cumulativeHealingColor;
	}
	
}

@keyframes 'fade'
{
	0%
	{
		opacity: 1;
	}
	
	35%
	{
		opacity: 1;
	}
	
	75%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

@keyframes 'pop'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	33%
	{
		pre-transform-scale2d: 1.3;
		pre-transform-rotate2d: 7deg;
	}
	
	66%
	{
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: 0deg;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'pop_emphasized'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	33%
	{
		pre-transform-scale2d: 1.7;
		pre-transform-rotate2d: 7deg;
	}
	
	66%
	{
		pre-transform-scale2d: 1.5;
		pre-transform-rotate2d: 0deg;
	}
	
	100%
	{
		pre-transform-scale2d: 1.4;
	}
	
}

@keyframes 'cumulative_final_float'
{
	0%
	{
		opacity: 0;
		wash-color: cumulativeDamageInitColor;
	}
	
	30%
	{
		wash-color: cumulativeDamageColor;
		opacity: 1;
	}
	
	60%
	{
		wash-color: cumulativeDamageColor;
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

@keyframes 'number_appear'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.5;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'fountain1'
{
	0%
	{
		transform: translateX(0px) translateY(-0px);
		pre-transform-scale2d: 1;
	}
	
	10%
	{
		pre-transform-scale2d: 1.5;
	}
	
	20%
	{
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		transform: translateX(0px) translateY(-80px);
	}
	
}

@keyframes 'fountain2'
{
	0%
	{
		transform: translateX(0px) translateY(-0px);
		pre-transform-scale2d: 1;
	}
	
	10%
	{
		pre-transform-scale2d: 1.5;
	}
	
	20%
	{
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		transform: translateX(0px) translateY(-80px);
	}
	
}

@keyframes 'fountain3'
{
	0%
	{
		transform: translateX(0px) translateY(-0px);
		pre-transform-scale2d: 1;
	}
	
	10%
	{
		pre-transform-scale2d: 1.5;
	}
	
	20%
	{
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		transform: translateX(0px) translateY(-80px);
	}
	
}

@keyframes 'fountain4'
{
	0%
	{
		transform: translateX(0px) translateY(-0px);
		pre-transform-scale2d: 1;
	}
	
	10%
	{
		pre-transform-scale2d: 1.5;
	}
	
	20%
	{
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		transform: translateX(0px) translateY(-80px);
	}
	
}

@keyframes 'fountain5'
{
	0%
	{
		transform: translateX(0px) translateY(-0px);
		pre-transform-scale2d: 1;
	}
	
	10%
	{
		pre-transform-scale2d: 1.5;
	}
	
	20%
	{
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		transform: translateX(0px) translateY(-80px);
	}
	
}

@keyframes 'fountain_emphasised1'
{
	0%
	{
		transform: translateX(0px) translateY(-0px);
	}
	
	50%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	100%
	{
		transform: translateX(0px) translateY(-100px);
	}
	
}

@keyframes 'fountain_emphasised2'
{
	0%
	{
		transform: translateX(0px) translateY(-0px);
	}
	
	50%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	100%
	{
		transform: translateX(0px) translateY(-100px);
	}
	
}

@keyframes 'fountain_emphasised3'
{
	0%
	{
		transform: translateX(0px) translateY(-0px);
	}
	
	50%
	{
		transform: translateX(0px) translateY(-50px);
	}
	
	100%
	{
		transform: translateX(0px) translateY(-100px);
	}
	
}

@keyframes 'fountain_emphasised4'
{
	0%
	{
		transform: translateX(0px) translateY(-0px);
	}
	
	50%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	100%
	{
		transform: translateX(0px) translateY(-100px);
	}
	
}

@keyframes 'fountain_emphasised5'
{
	0%
	{
		transform: translateX(0px) translateY(-0px);
	}
	
	50%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	100%
	{
		transform: translateX(0px) translateY(-100px);
	}
	
}

.trooper .HudIndicatorContainer,.healing .HudIndicatorContainer
{
	ui-scale: 80%;
}

.is_yourself .HudIndicatorContainer
{
	ui-scale: 140%;
}

.healing .is_yourself .HudIndicatorContainer .HudIndicatorText
{
	wash-color: none;
}

.is_yourself.healing .HudIndicatorContainer
{
	ui-scale: 90%;
}

@keyframes 'local_player_dmg_wiggle'
{
	0%
	{
		transform: translateX(-5px);
	}
	
	50%
	{
		transform: translateX(0px);
	}
	
	100%
	{
		transform: translateX(5px);
	}
	
}

.cumulative .HudIndicatorContainer
{
	z-index: 1;
	animation-name: fade;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
}

.cumulative.emphasize .HudIndicatorContainer
{
	margin-left: 100px;
	vertical-align: center;
	z-index: 1;
	animation-name: fade;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
}

.distance_extremely_far.cumulative .HudIndicatorContainer
{
	margin-left: 105px;
}

.cumulative_final .HudIndicatorContainer
{
	z-index: 1;
	animation-name: cumulative_final_float;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.distance_extremely_far.cumulative_final .HudIndicatorContainer
{
	margin-left: 105px;
}

.bullet_damage_new .HudIndicatorText
{
	font-weight: normal;
	animation-name: damage_color;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.bullet_damage_new.crit .HudIndicatorText
{
	animation-name: crit_color;
	animation-duration: 0.3s;
	font-weight: bold;
	ui-scale: 130%;
	text-shadow: 0px 0px 3.0 offBlack;
	animation-fill-mode: forwards;
}

.bullet_damage_new.luckyshot .HudIndicatorText
{
	animation-name: luckyshot_pop;
	animation-duration: 0.3s;
	font-weight: bold;
	ui-scale: 130%;
	text-shadow: 0px 0px 3.0 offBlack;
	animation-fill-mode: forwards;
}

.healing .HudIndicatorText
{
	font-weight: normal;
	animation-name: healing_color;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.ability_damage_new .HudIndicatorText
{
	font-weight: normal;
	animation-name: ability_color;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.melee_damage_new .HudIndicatorText
{
	font-weight: bold;
	font-size: 34px;
	animation-name: damage_color;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.pure_damage_new .HudIndicatorText
{
	font-weight: bold;
	animation-name: pure_damage_color;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.cumulative .HudIndicatorText
{
	font-size: 18px;
	font-weight: bold;
}

.cumulative.emphasize .HudIndicatorText
{
	font-size: 18px;
	font-weight: bold;
}

.cumulative.healing .HudIndicatorText
{
	font-size: 18px;
	font-weight: bold;
	animation-name: cumulative_healing_color;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.cumulative.healing.emphasize .HudIndicatorText
{
	font-size: 18px;
	font-weight: bold;
	animation-name: cumulative_healing_color;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}

.cumulative_final .HudIndicatorText
{
	font-size: 18px;
	font-weight: bold;
	animation-name: cumulative_damage_color;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.cumulative_final.healing .HudIndicatorText
{
	font-size: 18px;
	font-weight: bold;
	animation-name: cumulative_healing_color;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.fountain1 .HudIndicatorContainer
{
	animation-timing-function: ease-out;
	animation-name: fountain1, fade;
	animation-duration: 2s, 1s;
	animation-fill-mode: forwards;
}

.ability_damage_new .fountain1 .HudIndicatorContainer
{
	animation-delay: 0.1s;
}

.fountain2 .HudIndicatorContainer
{
	animation-timing-function: ease-out;
	animation-name: fountain2, fade;
	animation-duration: 2s, 1s;
	animation-fill-mode: forwards;
}

.fountain3 .HudIndicatorContainer
{
	animation-timing-function: ease-out;
	animation-name: fountain3, fade;
	animation-duration: 2s, 1s;
	animation-fill-mode: forwards;
}

.fountain4 .HudIndicatorContainer
{
	animation-timing-function: ease-out;
	animation-name: fountain4, fade;
	animation-duration: 2s, 1s;
	animation-fill-mode: forwards;
}

.fountain5 .HudIndicatorContainer
{
	animation-timing-function: ease-out;
	animation-name: fountain5, fade;
	animation-duration: 2s, 1s;
	animation-fill-mode: forwards;
}

.fountain_emphasised1 .HudIndicatorContainer
{
	animation-timing-function: ease-out;
	animation-name: fountain_emphasised1, fade, pop_emphasized;
	animation-duration: 3s, 1.2s, 0.6s;
	animation-fill-mode: forwards;
	ui-scale: 150%;
	brightness: 2;
}

.fountain_emphasised2 .HudIndicatorContainer
{
	animation-timing-function: ease-out;
	animation-name: fountain_emphasised2, fade, pop_emphasized;
	animation-duration: 3s, 1.2s, 0.6s;
	animation-fill-mode: forwards;
	ui-scale: 150%;
	brightness: 2;
}

.fountain_emphasised3 .HudIndicatorContainer
{
	animation-timing-function: ease-out;
	animation-name: fountain_emphasised3, fade, pop_emphasized;
	animation-duration: 3s, 1.2s, 0.6s;
	animation-fill-mode: forwards;
	ui-scale: 150%;
	brightness: 2;
}

.fountain_emphasised4 .HudIndicatorContainer
{
	animation-timing-function: ease-out;
	animation-name: fountain_emphasised4, fade, pop_emphasized;
	animation-duration: 3s, 1.2s, 0.6s;
	animation-fill-mode: forwards;
	ui-scale: 150%;
	brightness: 2;
}

.fountain_emphasised5 .HudIndicatorContainer
{
	animation-timing-function: ease-out;
	animation-name: fountain_emphasised5, fade, pop_emphasized;
	animation-duration: 3s, 1s, 0.6s;
	animation-fill-mode: forwards;
	ui-scale: 150%;
	brightness: 2;
}

#Effectiveness
{
	transform: translateX(10px) translateY(160px);
	visibility: collapse;
	font-size: 12px;
	font-weight: semi-bold;
	color: rgb(222, 222, 222);
	animation-name:none;
	animation-timing-function: none;
	text-align: center;
	font-family: sansMono;
	font-family: oracle;
	font-size: 14px;
	text-shadow: 0px 0px 3.0 black;
	text-overflow: shrink;
}

.hasEffectiveness #Effectiveness
{
	visibility: visible;
}

