/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

.searchContainer
{
	width: 100%;
	margin: 10px 0px -10px 10px;
	border-radius: 4px;
	border: 2px solid offWhite&06;
	background-color: #00000040;
}

.countryHeader .heroIcon
{
	margin: 0px 0px 0px 12px;
}

.playerInfoContainer .playerRatingName
{
	margin-left: 4px;
}

.playerInfoContainer CitadelRankedBadgeMini#RankedBadge
{
	margin-left: 8px;
}

