/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

CitadelPopupGlobalLeaderboard.PopupPanel
{
	flow-children: right;
	height: 900px;
	width: 1400px;
	vertical-align: center;
	horizontal-align: center;
	padding: 0px;
	background-color: #282826f8;
	background-image: url("s2r://panorama/images/textures/paper_panel_bg_01_png.vtex");
	background-img-opacity: 0.8;
	background-size: 100%;
}

#HeroSelectionContainer
{
	width: 64%;
	flow-children: down;
	height: 100%;
	margin: 24px 0px 24px 0px;
}

#CountryContainer
{
	width: 35%;
	margin: 24px 0px 24px;
}

.headerContainer
{
	flow-children: down;
	margin-left: 40px;
}

#Heroes
{
	flow-children: right-wrap;
	width: 100%;
	ui-scale: 80%;
	margin: 20px 0px 0px 36px;
	overflow: scroll;
}

#Heroes .Hero
{
	background-color: black;
	margin: 0px 8px 8px 0px;
	border: 4px solid transparent;
	transition-property: brightness;
	transition-duration: 0.2s;
}

#Heroes .Hero #HeroImage
{
	width: 96px;
	height: 160px;
}

#Heroes .Hero:hover
{
	brightness: 2.0;
}

#Heroes .Hero:active
{
	brightness: 1.5;
}

#Heroes .Hero:selected
{
	border: 4px solid offWhite&cc;
	border-radius: 3px;
}

#Heroes .Hero:nth-child(1) #HeroImage
{
	background-image: url("s2r://panorama/images/icons/deadlock_logo.vsvg");
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: offWhite;
}

#CountriesSelection
{
	flow-children: right;
	width: 100%;
}

.countryLabel
{
	margin: 8px 8px 8px 0px;
	color: #FFEFD740;
	font-size: 16px;
	font-weight: bold;
	padding: 1px 8px 2px 8px;
	transition-property: color;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
	text-overflow: shrink;
}

.countryLabel:hover
{
	color: #FFEFD7aa;
}

.countryLabel:selected
{
	background-color: offWhite&66;
	border-radius: 3px;
	color: offBlack;
}

#ErrorLoadingLabel,#LeaderboardEmptyLabel
{
	visibility: collapse;
	vertical-align: center;
	horizontal-align: center;
	color: #DE5555;
	ignore-parent-flow: true;
}

.errorLoadingData #ErrorLoadingLabel,.leaderboardEmpty #LeaderboardEmptyLabel
{
	visibility: visible;
}

#SearchingIcon
{
	width: 40px;
	height: 40px;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 2px;
	background-image: url("s2r://panorama/images/control_icons/spinner_png.vtex");
	background-size: contain;
	background-position: center top;
	animation-name: RotateIcon;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	wash-color: white;
	ignore-parent-flow: true;
	visibility: collapse;
}

.loadingData #SearchingIcon
{
	visibility: visible;
}

.loadingData #PlayersContainer,.errorLoadingData #PlayersContainer
{
	visibility: collapse;
}

#PlayersContainer
{
	flow-children: down;
	overflow: squish scroll;
	margin: 20px 0px 0px 0px;
	width: 100%;
}

#PlayersRatingContainer
{
	height: 700px;
	width: 440px;
	margin-bottom: 12px;
	background-color: gradient( linear, 50% 50%, 0% 0%, from( #FFEFD702), to( #FFEFD705) );
	border-radius: 3px;
	padding: 0px 8px 20px 0px;
}

.heroIcon
{
	width: 48px;
	height: 48px;
	border-radius: 3px;
	margin: 0px 12px 0px 0px;
}

.headerLabel,.heroLabel
{
	font-size: 32px;
	font-weight: bold;
	vertical-align: center;
	margin-top: 6px;
	font-family: oracle;
}

.headerDescLabel
{
	font-size: 20px;
	font-weight: bold;
	margin-top: -4px;
	color: #FFEFD740;
}

.playerRatingHeaderLogo
{
	width: 28px;
	height: 18px;
	background-size: contain;
	background-image: url("s2r://panorama/images/ranked/topbadge_png.vtex");
	margin: 0px 24px 0px 0px;
	vertical-align: center;
}

.playerRatingName
{
	font-weight: bold;
	font-size: 20px;
	color: #FFEFD740;
	margin-left: 12px;
}

.playerRatingLabel
{
	font-weight: bold;
	font-size: 20px;
	color: #FFEFD715;
	width: 40px;
	text-align: center;
	margin: 0px 4px 0px 8px;
}

.footerNote
{
	font-size: 14px;
	color: #FFEFD715;
	width: 440px;
	padding: 0px 40px;
	text-align: center;
	text-overflow: shrink;
}

#TopHeroesContainer
{
	flow-children: right;
	horizontal-align: right;
	height: 100%;
	margin-right: 4px;
}

#TopHeroesContainer CitadelHeroImage
{
	height: 25px;
	width: 25px;
}

CitadelRankedBadgeOldMini#RankedBadge
{
	height: 30px;
	width: 53px;
	visibility: collapse;
}

.showingGlobalLeaderboards CitadelRankedBadgeOldMini#RankedBadge
{
	visibility: visible;
}

.playerSnippet
{
	margin-right: 15px;
}

.playerSnippet,.playerInfoContainer
{
	width: 100%;
}

.playerSnippet.isLocalPlayer
{
	background-color: #FFFFFF06;
}

