/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/post_game/citadel_db_post_game_scoreboard_new.vcss_c");
.AspectRatio4x3 #Team1 .VictoryLabel
{
	margin-left: 148px;
}

.AspectRatio4x3 .TeamNameContainer,.AspectRatio4x3 .PlayerInfoContainer
{
	width: 280px;
}

.AspectRatio4x3 #PlayerName Label
{
	max-width: 125px;
}

.AspectRatio4x3 .SoulsContainer Label
{
	width: 58px;
}

.AspectRatio4x3 .KDAContainer
{
	margin-right: 10px;
	margin-left: 15px;
}

.AspectRatio4x3 .CanCommendPlayers .TeamNameContainer
{
	margin-left: 60px;
}

.AspectRatio4x3 .CanCommendPlayers .Player.TotalsRow
{
	margin-left: 338px;
}

.AspectRatio4x3 .Player.TotalsRow
{
	margin-left: 286px;
}

.AspectRatio4x3 .ShowRankedBadges .TeamNameContainer .TeamName
{
	margin-left: 40px;
}

.AspectRatio4x3 .TeamNameContainer .TeamName
{
	width: 133px;
	height: 40px;
	margin: 8px 0px -4px 8px;
}

.AspectRatio4x3 .DamageContainer Label,.AspectRatio4x3 .HealingContainer Label
{
	width: 54px;
}

.AspectRatio4x3 .TableHeaderStats
{
	margin-left: 0px;
}

